body {
    opacity: 0;
        }  
.button_a{
border: none;
background:none;
padding:0px 0px;
color: blue;
border:none;
margin:0px;
border-radius:0px;
transition:0.5s;
vertical-align: middle;
}
@media (min-width:992px) {
.sidebar.sidebar-sticky {
z-index:99;
}
footer.footer {
position:fixed !important;
width:100% !important;
bottom:0;
left:0;
z-index:0;
padding-left:250px !important;
}
footer.footer.no-padding {
padding-left:0 !important;
}
.content {
margin-bottom:54px;
}
.card {
    margin-bottom: 0.5rem;
}
}
.icon_mess{
    float: right;
    margin-top: -27px;
    margin-bottom: 0px!important;
}
.chat_ib p{
    margin-bottom: 0px !important;
}
.chat_img_2{
    border-radius: 50% 50%;
}
.khong_chot_don{
    background-color: #ef98aa33!important;
}
.da_chot_don{
    background-color: #abf5c242!important;
}
.dang_tu_van{
    background-color: #f7e8b866!important;
}