body    {
    background: #E9EAED
}

.line {
float: left;
width: 100%;
border-bottom: solid 1px gainsboro;
margin-bottom: 10px;
padding-bottom: 10px
}

.friend_info {
float: left;
padding: 5px;
border: solid 1px gainsboro;
margin-right: 20px;
margin-bottom: 10px;
width: 100px;
background: white
}

.friend_info .img {
float: left;
width: 100px;
height: 100px
}

.friend_info .img img {
width: 100px;
height: 100px
}

.friend_info .name {
float: left;
width: 100px
}

.friend_info .name a {
color: #3b5998;
font-weight: bold;
font-size: 14px;
font-family: arial;
float: left;
text-decoration: none;
line-height: 1.5em
}

.friend_photo {
float: left;
width: 89%;
padding: 5px 5px;
border: solid 1px gainsboro;
background: white
}

.friend_photo .image {
width: 150px;
height: 150px;
margin-right: 5px;
margin-bottom: 5px;
float: left;
text-align: center;
overflow: hidden
}

.friend_photo .image img {
max-height: 150px
}

.filter {
margin-bottom: 10px
}

.hide_photo .friend_photo {
display: none
}

.hide_photo .line {
width: 120px;
float: left;
border-bottom: 0;
height: 160px
}

img {
transition: -webkit-transform 0.25s ease;
transition: transform 0.25s ease;
}

img:active {
-webkit-transform: scale(4);
transform: scale(4);
z-index: 99;
position: fixed;
top: 40%;
left: 40%;
box-shadow: 1px 1px 8px black;
}
#goTop {
bottom: 200px;
cursor: pointer;
height: 35px;
position: fixed;
right: 155px;
width: 44px;
z-index: 1000;
background-color: #1ABC9C;
width: 39px;
height: 33px;
text-align: center;
line-height: 33px;
font-weight:bold;
font-size:20px;

}