<li id="qwqw-1">Hà Nội</li>
<li id="3vxw-126">TP Hồ Chí Minh</li>
<li id="cehh-129">Đà Nẵng</li>
<li id="031l-144">Bắc Giang</li>
<li id="xrze-835">Bắc Kạn</li>
<li id="prcx-837">Bắc Ninh</li>
<li id="zn3b-842">Cao Bằng</li>
<li id="7k49-845">Điện Biên</li>
<li id="oksi-830">Hà Giang</li>
<li id="lco2-807">Hà Nam</li>
<li id="9de3-848">Hà Tĩnh</li>
<li id="mf7i-805">Hải Dương</li>
<li id="jhk5-135">Hải Phòng</li>
<li id="3llz-850">Hòa Bình</li>
<li id="uoo0-816">Hưng Yên</li>
<li id="dgzn-853">Lai Châu</li>
<li id="0s3e-134">Lạng Sơn</li>
<li id="z01e-808">Lào Cai</li>
<li id="p7vy-811">Nam Định</li>
<li id="7o3t-821">Nghệ An</li>
<li id="35kg-856">Ninh Bình</li>
<li id="lmms-858">Phú Thọ</li>
<li id="q8y8-819">Quảng Ninh</li>
<li id="6dev-130">Sơn La</li>
<li id="b7z7-863">Thái Bình</li>
<li id="xoe5-864">Thái Nguyên</li>
<li id="3wkw-865">Thanh Hóa</li>
<li id="flq7-137">Tuyên Quang</li>
<li id="ctgu-827">Vĩnh Phúc</li>
<li id="gtvj-132">Yên Bái</li>
<li id="2y0c-826">Bình Định</li>
<li id="scdj-843">Đắk Lắk</li>
<li id="f2mr-844">Đắk Nông</li>
<li id="i3w8-847">Gia Lai</li>
<li id="hxd7-831">Khánh Hòa</li>
<li id="6gl4-852">Kon Tum</li>
<li id="efhq-869">Phú Yên</li>
<li id="je2b-818">Quảng Bình</li>
<li id="0228-859">Quảng Nam</li>
<li id="dl2m-860">Quảng Ngãi</li>
<li id="hga3-143">Quảng Trị</li>
<li id="q50j-866">Thừa Thiên Huế</li>
<li id="qx0y-833">An Giang</li>
<li id="7ahu-834">Bà Rịa - Vũng Tàu</li>
<li id="q75e-836">Bạc Liêu</li>
<li id="epr8-838">Bến Tre</li>
<li id="cx2h-839">Bình Dương</li>
<li id="vn62-840">Bình Phước</li>
<li id="2qbv-812">Bình Thuận</li>
<li id="7cpt-841">Cà Mau</li>
<li id="7l5f-806">Cần Thơ</li>
<li id="gmx2-823">Đồng Nai</li>
<li id="ykfa-846">Đồng Tháp</li>
<li id="yj0o-849">Hậu Giang</li>
<li id="dkcs-851">Kiên Giang</li>
<li id="1mtx-854">Lâm Đồng</li>
<li id="ene7-855">Long An</li>
<li id="pem0-857">Ninh Thuận</li>
<li id="2j0c-861">Sóc Trăng</li>
<li id="hmsw-862">Tây Ninh</li>
<li id="hxx0-824">Tiền Giang</li>
<li id="j79c-867">Trà Vinh</li>
<li id="dpdi-868">Vĩnh Long</li>