.aui-group {
    display: table;
    box-sizing: border-box;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}
.row-field .select_shif_time label {
    width: 100%
}
.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.pull-right {
    float: right;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 34px;
    padding: 6px 6px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
}

.input-icon textarea,
.input-icon input[type="text"],
.input-icon input[type="password"],
.input-icon input[type="datetime"],
.input-icon input[type="datetime-local"],
.input-icon input[type="date"],
.input-icon input[type="month"],
.input-icon input[type="time"],
.input-icon input[type="week"],
.input-icon input[type="number"],
.input-icon input[type="email"],
.input-icon input[type="url"],
.input-icon input[type="search"],
.input-icon input[type="tel"],
input[type="color"] {
    padding: 6px 6px 6px 30px;
    /* background-color: white; */
    width: 100%;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 34px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.sidebar-nav {
    margin: 0 0 0 0 !important;

}

button.minus-item.input-group-addon.btn.btn_primary,
button.plus-item.input-group-addon.btn.btn_primary,
button.delete-item.btn.btn-danger {
    margin: 0px 3px 0px 3px;
    padding: 0px 6px;
}

input.item-count.form-control {
    margin: 0px 0px -10px 0px;
    height: 22px;
}


.aui-group .input-icon i {
position: absolute;
top: 10px;
left: 60px;
font-size: 16px;
color: #666;
z-index: 1;
}


[class^="icon-"], [class*=" icon-"] {
display: inline;
width: auto;
height: auto;
line-height: normal;
vertical-align: baseline;
background-image: none;
background-position: 0 0;
background-repeat: repeat;
margin-top: 0;
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
-webkit-font-smoothing: antialiased;
height: 18px !important;
width: 18px !important;
position: absolute;
margin: 7px;
color: gray;
}