@-webkit-keyframes logo {
    0% {
        color: #5bf7ca;
    }
    50% {
        color: white;
    }
    100% {
        color: #5bf7ca;
    }
}

@-moz-keyframes logo {
    0% {
        color: #5bf7ca;
    }
    50% {
        color: white;
    }
    100% {
        color: #5bf7ca;
    }
}

@-o-keyframes logo {
    0% {
        color: #5bf7ca;
    }
    50% {
        color: white;
    }
    100% {
        color: #5bf7ca;
    }
}

@keyframes logo {
    0% {
        color: #5bf7ca;
    }
    50% {
        color: white;
    }
    100% {
        color: #5bf7ca;
    }
}

.text_logo {
    font-size: 24px;
    font-weight: bold;
    -webkit-animation: logo 700ms infinite;
    -moz-animation: logo 700ms infinite;
    -o-animation: logo 700ms infinite;
    animation: logo 700ms infinite;
}

@-webkit-keyframes nn_blue {
    0% {
        color: #dd0606;
    }
    50% {
        color: #f874f2;
    }
    100% {
        color: #dd0606;
    }
}

@-moz-keyframes nn_blue {
    0% {
        color: #dd0606;
    }
    50% {
        color: #f874f2;
    }
    100% {
        color: #dd0606;
    }
}

@-o-keyframes nn_blue {
    0% {
        color: #dd0606;
    }
    50% {
        color: #f874f2;
    }
    100% {
        color: #dd0606;
    }
}

@keyframes nn_blue {
    0% {
        color: #dd0606;
    }
    50% {
        color: #f874f2;
    }
    100% {
        color: #dd0606;
    }
}

.text_nhap_nhay {
    font-weight: bold;
    -webkit-animation: nn_blue 1400ms infinite;
    -moz-animation: nn_blue 1400ms infinite;
    -o-animation: nn_blue 1400ms infinite;
    animation: nn_blue 1400ms infinite;
}

.btn_primary {
    /* color: #fff;
        background-color: #00c3ff;
        border-color: #06a6d7; */
    color: #fff!important;
    background-color: #007bff!important;
    border-color: #007bff!important;
}

.btn_primary:hover {
    color: #fff!important;
    background-color: #026ad8!important;
    border-color: #026ad8!important;
}

.bg_primary {
    color: #fff;
    background-color: #0069d9;
}

.bg_xanh_la_nhat {
    background-color: #acdfbc;
}

.bg_xanh_duong_nhat {
    background-color: #0379f83b;
}

.bg_xanh_duong {
    background-color: #00caffb5;
}

.bg_xam {
    background-color: #f8f9fa;
}

.bg_xam2 {
    background-color: #e1e2e4;
}

.alert-primary {
    color: #fff!important;
    background-color: #057bf8!important;
}

.alert-info {
    color: #fff;
    background-color: #057bf8;
}

.btn-info {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-info:hover {
    color: #fff;
    background-color: #026ad8;
    border-color: #026ad8;
}

.btn_xam {
    color: #fff;
    background-color: #d8dde1ad;
    border-color: #d8dde1ad;
}

.btn_xam:hover {
    color: #fff;
    background-color: #c1c5c9ad;
    border-color: #c1c5c9ad;
}

.text_white {
    color: #fff!important;
}

.text_blue {
    color: blue!important;
    font-weight: bold;
}

.text_red {
    color: red!important;
    font-weight: bold;
}

.text_black {
    color: black!important;
}

.fs_18 {
    font-size: 18px;
}

.f_initial {
    /* font-family: initial; */
    --font-family-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.video_size {
    width: 800px;
    height: 600px;
    ;
}

.h38 {
    height: 38px;
}

.pb_0 {
    padding-bottom: 0px;
}

#img_logo {
    width: 200px;
    height: 53px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text_logo {
    width: 200px;
    height: 53px;
    font-size: 18px;
    color: #00c3ff;
    text-align: center;
    text-shadow: -1px 0 #a3bbe0;
}


/* 
.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link {
    color: black;
    background: #ffffff;
    border: 1px solid #ffffff;
}

.sidebar-item:hover,
.sidebar-item:hover>.sidebar-link:hover,
.sidebar-item>button:hover,
.sidebar-link:hover,
a.sidebar-link:hover,
.sidebar-link:hover {
    color: black;
    background: #ffffff;
    border: 1px solid #ebeef5;
}

.sidebar-item,
.sidebar-item>.sidebar-link,
.sidebar-item>button,
.sidebar-link,
a.sidebar-link {
    color: black;
    background: #ebeef5;
    border: 1px solid #ebeef5;
}

.sidebar-content {
    color: black;
    background: #ebeef5;
} 

.align-middle {
    color: black !important;
}

.dropdown-toggle:after {
    margin: 0px 0px -2px 5px;
    color: #edede7;
}*/

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link {
    border: 1px solid #354052;
}

.sidebar-item:hover,
.sidebar-item:hover>.sidebar-link:hover,
.sidebar-item>button:hover,
.sidebar-link:hover,
a.sidebar-link:hover,
.sidebar-link:hover {
    border: 1px solid #354052;
}

.sidebar-item,
.sidebar-item>.sidebar-link,
.sidebar-item>button,
.sidebar-link,
a.sidebar-link {
    border: 1px solid #354052;
}

.sidebar-item>.align-middle {
    color: white !important;
}

.dropdown-item>.align-middle {
    color: #495057 !important;
}

.dropdown-toggle:after {
    margin: 0px 0px -2px 5px;
    color: #354052;
}

a.link-fx {
    position: relative;
}

a.text-white.link-fx:before {
    background-color: #fff;
}

a,
a:hover {
    text-decoration: none;
}

.bg-gd-sea {
    background: #0665d0 linear-gradient(135deg, #0665d0, #32a0e0) !important;
}

a.link-fx:before {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0665d0;
    visibility: hidden;
}

body {
    margin: 0;
    font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
    font-size: .875rem!important;
    font-weight: 400;
    line-height: 1.5;
}

.input-group-append .btn,
.input-group-prepend .btn {
    position: relative;
    z-index: 0;
}


/* width */

 ::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #5aaaff;
    border-radius: 20px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
}