.container {
    max-width: 1170px;
    margin: auto;
}

.messaging {
    padding: 0 0 0px 0!important;
    border-bottom: -2px;
}

img {
    max-width: 100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 25%;
    border-right: 1px solid #c4c4c4;
}

.tao_don_hang {
    background: #f8f8f8 none repeat scroll 0 0;
    float: right;
    overflow: hidden;
    width: 30%;
    border-right: 1px solid #c4c4c4;
    overflow-y: scroll
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    padding:
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.tao_don_hang>.headind_srch {
    padding: 12px 29px 14px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: calc(100vh - 112px);
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    /* width: 5%; */
    width: 40px;
    height: 40px;
}

.incoming_msg_img>img {
    border-radius: 50% 50%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 5px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 45%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 45%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 5px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 16px 0 16px;
}

.sent_msg {
    float: right;
    width: 68%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}


/* .messaging {
    padding: 0 0 50px 0;
} */

.msg_history {
    height: calc(100vh - 145px);
    overflow-y: auto;
}

.write_msg:focus,
.msg_send_btn:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 0rem 1rem 1px;
    overflow-x: visible;
}

.col-6.text-left>span,
.footer.alert-info {
    display: none;
}

#goi_y_btn>.highlight {
    border-radius: 5px;
    max-width: 340px;
    width: 95%;
    border: 5px;
    background: #f7f8f8;
    position: fixed;
    top: calc(100vh - 358px);
    right: 31%;
    z-index: 999;
    overflow-y: auto;
    height: auto;
    max-height: 30%;
}

#note_chat>.highlight {
    border-radius: 5px;
    max-width: 340px;
    width: 95%;
    border: 5px;
    background: #f7f8f8;
    position: fixed;
    top: calc(100vh - 162px);
    right: 31%;
    z-index: 999;
    overflow-y: auto;
    height: auto;
    max-height: 30%;
}

.bubble {
    width: 300px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 999;
}

.highlight a {
    color: black;
    text-decoration: none;
}

.bubble_wrapper {
    position: relative;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav>li {
    position: relative;
    display: block;
    border-top: 1px solid #b0d2eb;
    list-style: none;
}

.nav>li:first-of-type {
    border-top: none;
}

.navbar-nav>li>a {
    transition: all 0.2s;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav>li>a.active {
    background-color: #0684cc;
    color: #fff !important;
    border-radius: 5px;
}

.goi_y_btn {
    background: #54c9e8 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: -22px;
    width: 21px;
}


/* ----------------------------- */

.submit_btn {
    background: #0099CC;
    color: #fff;
    border: none;
    cursor: pointer;
}

.mb_0 {
    margin-bottom: 0rem!important;
}

.chat_list.khong_chot_don {
    background-color: #ef98aa33 !important;
}

.chat_list.da_chot_don {
    background-color: #abf5c242 !important;
}

.chat_list.dang_tu_van {
    background-color: #fdefc13d !important;
}

.chat_list.da_chot_don:hover {
    background-color: #d2f3dc !important;
}

.chat_list.khong_chot_don:hover {
    background-color: #f1d3da !important;
}

.chat_list.dang_tu_van:hover {
    background-color: #f7e8b866 !important;
}


/* .chat_list.focus_list {
    background-color: #f2f3f5 !important;
    background-color: #f2f3f5 !important;
}

.chat_list.da_chot_don:focus {
    background-color: wheat!important;
}

.chat_list.da_chot_don:active,
.chat_list.da_chot_don:focus {
    background-color: #f3f7f7!important;
} */

 /* width */
 ::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5aaaff;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
}

.icon_mess {
    float: right;
    margin-top: -27px;
    margin-bottom: 0px !important;
}

.chat_ib p {
    margin-bottom: 0px !important;
}

.chat_img_2 {
    border-radius: 50% 50%;
}


.note_chat {
    background: #54c9e8 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    height: 18px;
    position: absolute;
    right: 36px;
    top: -22px;
    width: 22px;
}

.content {
    padding-left: 5px !important;
    padding-top: 0px !important;
    padding-right: 15px !important;
    padding-bottom: 0px !important;
}

.navbar.navbar-expand {
    background-color: #1f75d5;
    color: white;
    height: 63px;
}